<!-- <p>add-card works!</p> -->

<div>
  <div class="submit-form w-50 border-warning bg-info rounded-3 border mt-3">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="card.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="card.description"
          name="description"
        />
      </div>

      <button (click)="saveCard()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Post was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newCard()">Add</button>
    </div>
  </div>
</div>